.wp {
    visibility: hidden;
}

.wp-2 {
    animation-delay: 0.1s;
}

.wp-3 {
    animation-delay: 0.2s;
}

.wp-5, .wp-6 {
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.wp-8 {
    animation-delay: 0.2s;
}

.wp.animated {
    visibility: visible;
}
