#section-contact {
    .contact-details {
        margin: 70px 0;
    }

    .contact-details h2 {
        font-size: 20px;
    }

    .contact-details h2 span {
        display: block;
        color: #00a8ff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 15px;
    }

    .light-box {
        background-color: #fff;
        -webkit-box-shadow: 0 3px 0 0 #f0f2f4;
        -moz-box-shadow: 0 3px 0 0 #f0f2f4;
        box-shadow: 0 3px 0 0 #f0f2f4;
        padding: 20px 0;
    }

    .light-box:hover, .light-box:focus {
        -webkit-box-shadow: 0 3px 0 0 #00a8ff;
        -moz-box-shadow: 0 3px 0 0 #00a8ff;
        box-shadow: 0 3px 0 0 #00a8ff;
    }

    .box-hover {
        transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
    }

    .box-hover:hover, .box-hover:focus {
        transform: translate(0, -15px);
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
    }

    h2 {
        font-size: 15px;
        color: #353535;
        text-transform: uppercase;
        font-weight: bold;
    }

    h2::after {
        content: " ";
        border: solid 2px #00a8ff;
        display: block;
        width: 35px;
        margin: 25px auto;
    }
}

#section-contact.contact-wrap {
    position: relative;
}

#section-contact.section-padding {
    padding: 90px 0 100px
}

#section-contact.dark-bg {
    background: #f3f5f8;
}