#section-footer {
    padding-top: 4.4rem;
    padding-bottom: 3rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 4.4rem;
    }

    small {
        font-size: .8125rem;
        line-height: 1.538;
    }

    .media {
        @include media-breakpoint-down(sm) {
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .media-left {
        padding-right: 1.75rem;

        @include media-breakpoint-down(sm) {
            display: block;
            padding: 0;
            margin: 0 0 1rem;
        }
    }

    .icon-caret-up {
        margin-left: .25rem;
        font-size: 20px;
        vertical-align: middle;

        @include media-breakpoint-down(sm) {
            display: block;
            margin: 1rem 0;
        }
    }

    .contact-details {
        margin: 70px 0;

        h2 {
            font-size: 20px;
        }

        h2 {
            font-size: 15px;
            color: #353535;
            text-transform: uppercase;
            font-weight: bold;
        }

        h2::after {
            content: " ";
            border: solid 2px $brand-primary;
            display: block;
            width: 35px;
            margin: 25px auto;
        }

        h2 span {
            display: block;
            color: $brand-primary;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            margin-top: 15px;
        }

        .light-box {
            color: black;
            text-align: center;
            background-color: #fff;
            -webkit-box-shadow: 0 3px 0 0 #f0f2f4;
            -moz-box-shadow: 0 3px 0 0 #f0f2f4;
            box-shadow: 0 3px 0 0 #f0f2f4;
            padding: 20px 0;

            ul {
                list-style: outside none none;
                text-align: center;
                padding-left: 0;
                margin-bottom: 0;
                margin-top: -15px;

                li {
                    margin: 0 5px;
                    font-size: 2rem;
                    display: inline-block;

                    a {
                        color: #000;
                    }

                    img {
                        margin-bottom: 10px;
                        height: 2rem;
                    }
                }
            }

        }

        .light-box:hover, .light-box:focus {
            -webkit-box-shadow: 0 3px 0 0 $brand-primary;
            -moz-box-shadow: 0 3px 0 0 $brand-primary;
            box-shadow: 0 3px 0 0 $brand-primary;
        }

        .box-hover {
            transition: all 500ms ease-in-out;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            -o-transition: all 500ms ease-in-out;
        }

        .box-hover:hover, .box-hover:focus {
            transform: translate(0, -15px);
            -webkit-transform: translate(0, -15px);
            -ms-transform: translate(0, -15px);
        }
    }

    .list-inline {
        font-size: .9375rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        > li {
            padding-right: 1rem;
            padding-left: 1rem;

            @include media-breakpoint-down(sm) {
                display: block;
                text-align: center;
            }
            @include media-breakpoint-up(xl) {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
            &.active button {
                box-shadow: 0 2px 0 rgba(66, 71, 83, .2);
            }
            button {
                display: inline-block;
                margin-bottom: .5rem;
                background: none;
                border: none;
            }
        }
    }
}

#section-footer.bg-inverse {
    color: #fff;
    .list-inline > li {
        &.active button {
            box-shadow: 0 2px 0 rgba(255, 255, 255, .2);
            &:focus,
            &:hover {
                color: #fff;
            }
        }
        button {
            &:focus,
            &:hover {
                color: rgba(255, 255, 255, .6);
            }
        }
    }
}
