$font-family-sans-serif-custom: "Lato", sans-serif !default;

.bg-inverse {
    a,
    a:focus,
    a:hover {
        color: #fff;
    }
}

.bg-inverse-custom {
    margin-top: 1.1875rem;
    background-color: transparent;
}

.bg-white {
    background-color: #fff;
}

#section-intro,
#section-features,
#section-team,
#section-services,
#section-products,
#section-contact{
    padding-top: 2.8125rem;

    @include media-breakpoint-up(md) {
        padding-top: 5.625rem;
    }
}

#section-features,
#section-contact,
#section-products,
#section-services{
    padding-bottom: 2.8125rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 5.625rem;
    }
}

@include media-breakpoint-down(sm) {
    .p-y-lg {
        padding-top: ($spacer-y * .5) !important;
        padding-bottom: ($spacer-y * .5) !important;
    }
}
