
.section-news {
    @include media-breakpoint-down(sm) {
        .p-r-0 {
            padding-right: ($grid-gutter-width / 2) !important;
        }
        .p-l-0 {
            padding-left: ($grid-gutter-width / 2) !important;
        }
    }
    article {
        max-width: 22.5rem;
        padding: 1rem;

        @include media-breakpoint-up(lg) {
            padding: 4rem 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 6.5rem 0;
        }
    }
    .icon-arrow-right {
        margin-left: .25rem;
        font-size: .875rem;
        transition: transform 0.3s;
        display: inline-block;
    }
    h5 {
        margin-bottom: 1rem;
        line-height: 1.777;
        a {
            display: block;
        }
        a:hover .icon-arrow-right {
            transform: translate3d(15px, 0, 0);
        }
    }

}

.label {
    padding: .35em .85em;
    margin-bottom: .5rem;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1538;
    border-radius: 2.5rem;
    span {
        margin-right: .15rem;
        font-size: 16px;
        vertical-align: text-top;
    }
}

.label-default {
    padding-right: 0;
    padding-left: 0;
    margin-right: .5rem;
    color: rgba(255, 255, 255, .6);
    background-color: transparent;
}
