#section-products {

    .title {
        h4 {
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .product {
        width: 100%;
        height: 400px;
        margin: 15px 0;
        text-align: center;
        border: 1px solid #ddd;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

    }

    .product .icon-holder {
        position: relative;
        top: 100px;
        display: inline-block;
        margin-bottom: 40px;
        padding: 10px;
        background: #312F38;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .product .heading {
        position: relative;
        top: 80px;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .product .icon-holder > img.icon {
        width: 150px;
    }

    .product:hover {
        border-color: $brand-primary;
    }

    .product:hover .icon-holder {
        top: -30px;
    }

    .product:hover .heading {
        top: -50px;
    }

    .product .description {
        width: 80%;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .product:hover .description {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}